* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-size: 62.5%;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap");

:root {
  --light-blue: #c5d5ea;
  --beau-blue: #b6cee1;
  --light-sand: #d8e1e9;
  --sand: #cbc6d2;
  --light-pink: #e1ccde;
  --lighterdark-pink: #8c7284;
  --dark-pink: #846075;
  --dark-blue: #166088;

  --raleway: "Raleway", sans-serif;
}

/*Fonts*/
body {
  font-family: var(--raleway);
  background: var(--beau-blue);
}

/*Style used for styling of headings*/
.intro-paragraph h2 {
  padding-top: 6rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: inherit;
}
.highlight-pink {
  color: var(--dark-pink);
  font-size: 2.4rem;
}

.highlight-blue {
  color: var(--dark-blue);
  font-size: 2.4rem;
}

/*Style used for all <p>*/

p {
  text-align: center;
  font-size: 1.2rem;
  width: 80vw;
  margin: 0 auto;
}

/*I never want the screen to be smaller than 260px*/

/*---------------------Navigation bar---------------------*/

#navigation-bar {
  width: 100vw;
  height: 4vh;
  background-color: #1660888f;
}

.stickTheNavbar {
  position: fixed;
  top: 0;
  width: 100vw;
}

.hamburger {
  float: right;
  background-color: transparent;
  border: none;
  text-decoration: none;
  outline: none;
}

.hamburger button:hover {
  text-decoration: none;
  cursor: pointer;
}

.hamburger button:focus {
  background-color: transparent;
  outline: none;
}

.hamburger i {
  color: var(--sand);
  font-size: 2.4rem;
  margin-right: 2vw;
  text-align: center;
  float: right;
  padding-top: 1px;
}

.dropdown-menu {
  position: absolute;
  top: 4vh;
  right: 0;
  background: #1660888f;
  min-width: 20vw;
  height: 12vh;
  overflow: hidden;
  margin: 0 auto;
  visibility: hidden;
}
.dropdown-menu li {
  width: 20vw;
  text-align: center;
  padding: 2px;
  min-width: 95px;
}
.menu-link {
  width: 20vw;
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--light-sand);
  padding: 2px;
}

.show-dropdown {
  visibility: visible;
}

.change-hamburgerbutton {
  background-color: var(--lighterdark-pink);
}
/*---------------------Intro page---------------------*/

.home {
  width: 100vw;
  height: 100vh;
  background-color: var(--light-blue);
  position: relative;
}
.home h1 {
  font-size: 2.4rem;
  font-weight: var(--raleway);
}

.intro {
  padding-top: 30vh;
  text-align: center;
  margin: 0 auto;
  max-width: 420px;
}

.My-Name {
  color: var(--dark-pink);
  font-size: 2.4rem;
}
.FED {
  color: var(--dark-blue);
  font-size: 2.4rem;
}

.know-more {
  margin: 5rem;
  padding: 1rem 4rem 1rem 4rem;
  background-color: var(--light-pink);
  border: black solid 1px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.4rem;
}

.know-more a {
  text-decoration: none;
  cursor: pointer;

  color: black;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.intro button:hover {
  text-decoration: none;
  cursor: pointer;
}

.intro button:focus {
  background-color: var(--light-pink);
  outline: none;
}

/*---------------------About page---------------------*/

.about-page {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--beau-blue);
}

@media (min-width: 600px) {
  .content-about-me {
    width: 80vw;
    max-width: 800px;
    min-height: 30vh;
    margin: 0 auto;
    padding-top: 3rem;
    line-height: 1.6;
  }

  .content-about-me img {
    float: left;
    margin: 0rem 1rem 1rem 0rem;
    border-radius: 2rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .content-about-me p {
    text-align: justify;
    max-width: 800px;
  }
}

@media (max-width: 600px) {
  .content-about-me {
    width: 80vw;
    min-height: 40vh;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    line-height: 1.6;
  }

  .content-about-me img {
    float: left;
    margin: 0rem 1rem 1rem 0rem;
    border-radius: 2rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .content-about-me p {
    text-align: justify;
    min-width: 250px;
  }
}

.skill-container {
  margin: 0 auto;
}
.skill-bar {
  margin: 0 auto;
  height: 2rem;
  background-color: var(--lighterdark-pink);
  width: 80vw;
  max-width: 800px;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.progress-bar {
  max-width: 800px;
  height: 2rem;
  background-color: var(--light-pink);
  border-radius: 10px 0px 0px 10px;
}
.html-progress {
  width: 70%;
}

.css-progress {
  width: 60%;
}

.js-progress {
  width: 40%;
}
/*---------------------Portfolio page---------------------*/

.portfolio-page {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--light-sand);
}

.grid-container {
  margin: 0 auto;
  margin-top: 1rem;
  /* min-height: 70vh; */
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  padding: 0rem 1rem 0rem 1rem;
}

.project {
  background-color: var(--dark-blue);
  border-radius: 20px;
  min-width: 100px;
  max-width: 100%;
  min-height: 150px;
  max-height: 100%;
}

.end-portfolio-page {
  text-align: center;
}

.contact-me {
  margin: 3rem 0rem 2rem 0rem;
  padding: 1rem 4rem 1rem 4rem;
  background-color: var(--light-pink);
  border: black solid 1px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.4rem;
}

.portfolio-page button:hover {
  text-decoration: none;
  cursor: pointer;
}

.portfolio-page button:focus {
  background-color: var(--light-pink);
  outline: none;
}

/*---------------------Contact page---------------------*/
.contact-page {
  width: 100vw;
  height: 100vh;
  background-color: var(--light-pink);
}

.contact-container {
  min-height: 70vh;
  max-width: 600px;
  margin: 0 auto;
  padding: 3rem;
}

.contact-general {
  color: black;
  font-size: 1.4rem;
  margin-top: 5rem;
}

.contact-general i {
  color: var(--dark-pink);
  font-size: 2.6rem;
  padding-right: 1rem;
}

footer {
  background-color: var(--light-sand);
  height: 2rem;
  width: 100vw;
  margin: 0 auto;
  position: relative;
}

footer p {
  text-align: center;
  font-size: 1rem;
  width: 100vw;
  position: absolute;
  bottom: 3px;
}
