* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-size: 62.5%;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap");

:root {
  --light-blue: #c5d5ea;
  --beau-blue: #b6cee1;
  --light-sand: #d8e1e9;
  --sand: #cbc6d2;
  --light-pink: #e1ccde;
  --lighterdark-pink: #8c7284;
  --dark-pink: #846075;
  --dark-blue: #166088;

  --raleway: "Raleway", sans-serif;
}

/*Fonts*/
body {
  font-family: var(--raleway);
  background: var(--light-blue);
}

/*Style used for styling of headings*/
.intro-paragraph h2 {
  padding-top: 40px;
  text-align: center;
  font-size: 2.4rem;
  font-weight: inherit;
}
.highlight-pink {
  color: var(--dark-pink);
  font-size: 2.4rem;
}

.highlight-blue {
  color: var(--dark-blue);
  font-size: 2.4rem;
}

/*Style used for all <p>*/

p {
  text-align: center;
  font-size: 1.2rem;
}

/*---------------------Navigation bar---------------------*/

.navigation-bar {
  width: 100vw;
  height: 4vh;
  background-color: var(--dark-blue);
  position: fixed;
  z-index: 1;
}

.menu i {
  color: var(--sand);
  font-size: 2.6rem;
  margin-right: 4vw;
  text-align: center;
  float: right;
  padding-top: 4px;
}

/*---------------------Intro page---------------------*/

.home {
  width: 100vw;
  height: 100vh;
  background-color: var(--light-blue);
  position: relative;
}
.home p {
  font-size: 2.4rem;
}

.intro {
  padding-top: 30vh;
  text-align: center;
  margin-left: 15vw;
  margin-right: 15vw;
}

.My-Name {
  color: var(--dark-pink);
  font-size: 2.4rem;
}
.FED {
  color: var(--dark-blue);
  font-size: 2.4rem;
}

.know-more {
  margin: 5rem;
  padding: 1rem 4rem 1rem 4rem;
  background-color: var(--light-pink);
  border: black solid 1px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.4rem;
}

.know-more a {
  text-decoration: none;
  cursor: pointer;

  color: black;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.intro button:hover {
  text-decoration: none;
  cursor: pointer;
}

.intro button:focus {
  background-color: var(--light-pink);
  outline: none;
}
/* Intro in other scrolls*/

/*---------------------About page---------------------*/

.about-page {
  width: 100vw;
  height: 100vh;
  background-color: var(--beau-blue);
}

/*---------------------Portfolio page---------------------*/

.portfolio-page {
  width: 100vw;
  height: 100vh;
  background-color: var(--light-sand);
}

/*---------------------Contact page---------------------*/
.contact-page {
  width: 100vw;
  height: 100vh;
  background-color: var(--light-pink);
}
